/* my-account */
/* line 2, woocommerce.sass */
.woocommerce .address {
  padding: 10px;
  border: 1px solid #333333;
  background-color: #111111;
  border-radius: 4px;
}
/* line 8, woocommerce.sass */
.woocommerce .address .title {
  position: relative;
}
/* line 11, woocommerce.sass */
.woocommerce .address .title h3 {
  float: none;
  margin-top: 0.3em;
  padding-bottom: 1em;
  border-bottom: 1px solid #333333;
}
/* line 17, woocommerce.sass */
.woocommerce .address .title .edit {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

/* cart */
/* line 26, woocommerce.sass */
.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
  border-bottom: 4px double #333333;
}
/* line 29, woocommerce.sass */
.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
  border-bottom: 1px solid #333333;
}
/* line 33, woocommerce.sass */
.woocommerce table.shop_table tr:last-child td,
.woocommerce-page table.shop_table tr:last-child td {
  border-bottom: none;
}
/* line 36, woocommerce.sass */
.woocommerce table.shop_table input,
.woocommerce-page table.shop_table input {
  color: #333333;
}
/* line 40, woocommerce.sass */
.woocommerce .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .shipping_calculator {
  width: auto;
  float: none;
}
/* line 46, woocommerce.sass */
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce .cart-collaterals .cart_totals table th,
.woocommerce .cart-collaterals .shipping_calculator table td,
.woocommerce .cart-collaterals .shipping_calculator table th,
.woocommerce-page .cart-collaterals .cart_totals table td,
.woocommerce-page .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .shipping_calculator table td,
.woocommerce-page .cart-collaterals .shipping_calculator table th {
  padding: 6px 10px;
}
/* line 49, woocommerce.sass */
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce .cart-collaterals .shipping_calculator table th,
.woocommerce-page .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .shipping_calculator table th {
  width: 40%;
}
