/* my-account */
/* line 2, woocommerce.sass */
.woocommerce .address {
  padding: 10px;
  border: 1px solid #333333;
  background-color: #111111;
  border-radius: 4px;
}
/* line 8, woocommerce.sass */
.woocommerce .address .title {
  position: relative;
}
/* line 11, woocommerce.sass */
.woocommerce .address .title h3 {
  float: none;
  margin-top: 0.3em;
  padding-bottom: 1em;
  border-bottom: 1px solid #333333;
}
/* line 17, woocommerce.sass */
.woocommerce .address .title .edit {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
