<form action="{{cart_url}}" method="post" id="cart-list">
  <input type="hidden" name="_wpnonce" id="_wpnonce" value="{{wpnonce}}">
  {{#designs}}
  <div class="row design" id="design-{{id}}" data-keys="{{cart_items}}">
    <div class="col-md-3 col-sm-12">
      <img src="{{thumbnail}}" width="100%" class="img-thumbnail">
      <a class="btn btn-danger btn-block remove-design-button" href="/wp-admin/admin-ajax.php?remove_item={{cart_items}}&design={{id}}&wpnonce={{wpnonce}}"><i class="fa fa-times"></i> 移除本设计</a>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-sm-9">
          <h2>这套设计包括：</h2>
          <dl class="row">
            {{#clothes}}
            <dt class="col-md-6">{{title}}</dt>
            <dd class="col-md-6">{{{price}}}</dd>
            {{/clothes}}
          </dl>
        </div>
        <div class="col-md-2 col-sm-3 count">
          <div class="alert alert-info">
            计划购买<br>
            <strong class="text-warning quantity">{{count}}</strong>套
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="well well-sm">
            <h3>{{^has_coupon}}不能使用优惠码{{/has_coupon}}{{#has_coupon}}拥有优惠码？{{/has_coupon}}</h3>
            <div class="form-group">
              <input type="text" name="coupon_code" class="form-control" id="coupon_code" placeholder="优惠券代码" {{^has_coupon}}disabled{{/has_coupon}} />
            </div>
            <button type="button" class="btn btn-default btn-block" name="apply_coupon" {{^has_coupon}}disabled{{/has_coupon}}>使用</button>
            {{after_woocommerce_cart_coupon}}
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">我的球队</div>
        <div class="panel-body">您可以在这里给球队的全体成员配置球衣。</div>
        <table class="table member-list">
          <thead>
          <tr>
            <th>号码</th>
            <th>姓名</th>
            <th>尺码</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {{#member}}
          <tr id="{{id}}" data-group="{{group}}">
            <td><a href="#number" class="edit" data-type="number" data-maxlength="2" title="号码">{{number}}</a></td>
            <td><a href="#playername" class="edit" data-maxlength="8" title="姓名">{{playername}}</a></td>
            <td><a href="#size" class="edit" data-modal="select" data-options="#size-options" title="尺码">{{size}}</a></td>
            <td>
              <button type="button" class="btn btn-sm btn-primary save-button"><i class="fa fa-check"></i></button>
              <button type="button" class="btn btn-sm btn-danger delete-button"><i class="fa fa-times"></i></button>
            </td>
          </tr>
          {{/member}}
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4">
              <button type="button" class="btn btn-info new-row-button"><i class="fa fa-plus"></i> 增加一套</button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  {{/designs}}
  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <button class="checkout-button btn btn-primary btn-lg btn-block alt wc-forward" name="proceed" value="结算">结算</button>
    </div>
  </div>
</form>

<datalist id="size-options">
  <option value="1">大/L</option>
  <option value="2">加大/XL</option>
  <option value="3">加加大/XL</option>
  <option value="4">中/M</option>
  <option value="5">小/S</option>
</datalist>

<script type="text/x-handlebars-template" id="cart-row">
  {{=<% %>=}}
  <tr>
    <td><a href="#number" class="edit" data-type="number" data-maxlength="2" title="号码">{{number}}</a></td>
    <td><a href="#playername" class="edit" data-maxlength="8" title="姓名">{{name}}</a></td>
    <td><a href="#size" class="edit" data-modal="select" data-options="#size-options" title="尺码">{{size}}</a></td>
    <td>
      <button type="button" class="btn btn-sm btn-primary save-button"><i class="fa fa-check"></i></button>
      <button type="button" class="btn btn-sm btn-danger delete-button"><i class="fa fa-times"></i></button>
    </td>
  </tr>
  <%={{ }}=%>
</script>

<div class="modal fade" id="edit-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title">编辑</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
