<!-- Breadcrumb Start-->
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">{{full_title}}</li>
  </ol>
</div>
<!-- Breadcrumb End-->
<div class="flash-container" data-id="{{id}}">
  <form class="style-list container {{#id}}hide{{/id}}" id="clothes-options">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-4">
        <a href="#basketball" data-toggle="tab" class="btn btn-info btn-block active fa">篮球队服</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4">
        <a href="#football" data-toggle="tab" class="btn btn-info btn-block fa">足球队服</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4">
        <a href="#golf" data-toggle="tab" class="btn btn-info btn-block fa">高尔夫球<span class="hidden-sm hidden-xs">队服</span></a>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <p align="right" class="lead">开业大吉，限时特惠，全场准六折！！</p>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane row active" id="basketball">
        <h4 class="col-md-12">选择上衣款式</h4>
        <label class="col-md-2 col-sm-4 col-xs-6 top active">
          <img src="/assets/sample/basketball-t1.jpg" width="100%">
          <input type="radio" name="top" value="basketball-t1" checked >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/basketball-t2.jpg" width="100%">
          <input type="radio" name="top" value="basketball-t2" >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/basketball-t3.jpg" width="100%">
          <input type="radio" name="top" value="basketball-t3" >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/basketball-t4.jpg" width="100%">
          <input type="radio" name="top" value="basketball-t4" >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/basketball-t5.jpg" width="100%">
          <input type="radio" name="top" value="basketball-t5" >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <span class="exclusive">（不要上衣）</span>
          <input type="radio" name="top" value="" >
        </label>
        <h4 class="col-md-12">选择短裤款式</h4>
        <label class="col-md-2 col-sm-4 col-xs-6 pants active">
          <img src="/assets/sample/basketball-pants1.jpg" width="100%">
          <input type="radio" name="pants" value="basketball-pants1" checked >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <img src="/assets/sample/basketball-pants2.jpg" width="100%">
          <input type="radio" name="pants" value="basketball-pants2" >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <img src="/assets/sample/basketball-pants3.jpg" width="100%">
          <input type="radio" name="pants" value="basketball-pants3" >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <img src="/assets/sample/basketball-pants4.jpg" width="100%">
          <input type="radio" name="pants" value="basketball-pants4" >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <img src="/assets/sample/basketball-pants5.jpg" width="100%">
          <input type="radio" name="pants" value="basketball-pants5" >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <span class="exclusive">（不要短裤）</span>
          <input type="radio" name="pants" value="" >
        </label>
      </div>
      <div class="tab-pane row" id="football">
        <h4 class="col-md-12">选择上衣款式</h4>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/football-t1.jpg" width="100%">
          <input type="radio" name="top" value="football-t1" >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/football-t2.jpg" width="100%">
          <input type="radio" name="top" value="football-t2" >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/football-t3.jpg" width="100%">
          <input type="radio" name="top" value="football-t3" >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/football-t4.jpg" width="100%">
          <input type="radio" name="top" value="football-t4" >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/football-t5.jpg" width="100%">
          <input type="radio" name="top" value="football-t5" >
          <p class="price"><del>&#165 198</del><span class="sale">&#165 128</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <span class="exclusive">（不要上衣）</span>
          <input type="radio" name="top" value="" >
        </label>
        <h4 class="col-md-12">选择短裤款式</h4>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <img src="/assets/sample/football-pants1.jpg" width="100%">
          <input type="radio" name="pants" value="football-pants1" >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <img src="/assets/sample/football-pants2.jpg" width="100%">
          <input type="radio" name="pants" value="football-pants2" >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <img src="/assets/sample/football-pants3.jpg" width="100%">
          <input type="radio" name="pants" value="football-pants3" >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <img src="/assets/sample/football-pants4.jpg" width="100%">
          <input type="radio" name="pants" value="football-pants4" >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <img src="/assets/sample/football-pants5.jpg" width="100%">
          <input type="radio" name="pants" value="football-pants5" >
          <p class="price"><del>&#165 170</del><span class="sale">&#165 110</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 pants">
          <span class="exclusive">（不要短裤）</span>
          <input type="radio" name="pants" value="" >
        </label>
      </div>
      <div class="tab-pane row" id="golf">
        <h4 class="col-md-12">选择上衣款式</h4>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/golf-1.jpg" width="100%">
          <input type="radio" name="top" value="golf-1" >
          <p class="price"><del>&#165 299</del><span class="sale">&#165 180</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
        <label class="col-md-2 col-sm-4 col-xs-6 top">
          <img src="/assets/sample/golf-2.jpg" width="100%">
          <input type="radio" name="top" value="golf-2" >
          <p class="price"><del>&#165 299</del><span class="sale">&#165 180</span></p>
          <i class="fa fa-search-plus preview-button"></i>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-primary btn-block btn-lg"><i class="fa fa-edit"></i> 开始定制</button>
      </div>
      <div class="col-md-3">
        <div class="alert alert-info alert-sm">
          <i class="fa fa-phone"></i> <small>批量购买，立享折扣。详情请咨询客服。</small>
        </div>
      </div>
    </div>
  </form>
  <div class="diy-container hide">
    <div id="diy-flash">
      <h1>队服DIY</h1>
      <p><a href="http://www.adobe.com/go/getflashplayer">您需要下载最新的Flash播放器才能使用定制服务。</a></p>
    </div>
  </div>
</div>

<div class="modal fade" id="popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">预览</h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>