<!-- main slide -->
<div class="container">
  <div class="carousel slide" data-ride="carousel" id="main-slide">
    <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
      <li data-target="#main-slide" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active intro">
        <a href="/diy" title="开始定制"><img src="img/slide1.jpg" width="100%"></a>
      </div>
      <div class="item logo"></div>
    </div>

    <a class="left carousel-control" href="#main-slide" role="button" data-slide="prev">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
    <a class="right carousel-control" href="#main-slide" role="button" data-slide="next">
      <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
  </div>
</div>
<!-- main slide over -->
<!-- showcase -->
<div id="showcase">
  <header class="container">
    <div class="row">
      <h2 class="col-md-3">XLINE 的球队</h2>
      <form action="/teams" class="form-inline col-md-9 hide">
        <div class="form-group">
          <label for="team-area">地区</label>
          <select name="area" id="team-area" class="form-control input-sm">
            <option value="北京">北京</option>
          </select>
        </div>
        <div class="form-group">
          <label for="team-type">球类</label>
          <select name="type" id="team-type" class="form-control input-sm">
            <option value="1">篮球</option>
            <option value="2">足球</option>
            <option value="3">高尔夫</option>
          </select>
        </div>
        <button class="btn btn-default btn-sm">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </header>
  <div class="product-list container">
    <ul class="row">
      <li class="category">
        <a href="/teams/basketball" class="more">more &gt;&gt;</a>
        <h2>衣库 <em>/</em> 篮球</h2>
        <p>在这里找到你的设计灵感、与你感兴趣的球队联系、制作你的球队名片。</p>
      </li>
      {{#basketball}}
      <li class="{{alias}} item">
        <a href="/design/{{id}}" title="查看详情"><img src="{{thumbnail}}" width="100%"></a>
        <a class="detail" href="/design/{{id}}" title="查看详情">
          <h3>{{name}}</h3>
          <p>所在地：{{province}}</p>
        </a>
      </li>
      {{/basketball}}
      <li class="category">
        <a href="/teams/basketball" class="more">more &gt;&gt;</a>
        <h2>衣库 <em>/</em> 足球</h2>
        <p>在这里找到你的设计灵感、与你感兴趣的球队联系、制作你的球队名片。</p>
      </li>
      {{#football}}
      <li class="{{alias}} item">
        <a href="/design/{{id}}" title="查看详情"><img src="{{thumbnail}}" width="100%"></a>
        <a class="detail" href="/design/{{id}}" title="查看详情">
          <h3>{{name}}</h3>
          <p>所在地：{{province}}</p>
        </a>
      </li>
      {{/football}}
      <li class="category">
        <a href="/teams/basketball" class="more">more &gt;&gt;</a>
        <h2>衣库 <em>/</em> 高尔夫</h2>
        <p>在这里找到你的设计灵感、与你感兴趣的球队联系、制作你的球队名片。</p>
      </li>
      {{#golf}}
      <li class="{{alias}} item">
        <a href="/design/{{id}}" title="查看详情"><img src="{{thumbnail}}" width="100%"></a>
        <a class="detail" href="/design/{{id}}" title="查看详情">
          <h3>{{name}}</h3>
          <p>所在地：{{province}}</p>
        </a>
      </li>
      {{/golf}}
    </ul>
  </div>

</div>
<!-- showcase over -->
<!-- about us -->
<div id="about-us" class="container">
  <ul class="row">
    <li class="custom col-md-4 col-sm-12">
      <div class="bar">&nbsp;</div>
      <h3>定制球衣</h3>
      <div class="detail">
        <p>
          我们也曾在阳光下奔跑，球场上的一点一滴，都已化作我们最珍贵的回忆。<br>
          球场上有泪水，也有汗水；有开心的欢笑，也有愤怒的咆哮。<br>
          看着柜子里独特的球衣，属于自己的号码，虽已破旧，但都带着从一个地方，来到另一个地方，不忍丢弃。<br>
          它们已经不只是球衣，他们是伙伴，是哥们，是弟兄。
        </p>
      </div>
    </li>
    <li class="high-quality col-md-4 col-sm-12">
      <div class="bar">&nbsp;</div>
      <h3>高品质球衣</h3>
      <div class="detail">
        <p>
          也曾羡慕耐克阿迪的修身与吸汗，然而款式太少，满大街的国家队俱乐部，不知真假。<br />
          也曾动批五道口，一买数件拿去印号，然而布料粗糙，号码一洗就掉。<br />
          如果能把二者的优点结合起来，那当真是极好的啊！<br />
          兰派为此而生！<br />
          认真选材，精心设计，严格生产，快速送货。像专卖店一样美好！不，是更美好！！
        </p>
      </div>
    </li>
    <li class="startup col-md-4 col-sm-12">
      <div class="bar">&nbsp;</div>
      <h3>我们在创业</h3>
      <div class="detail">
        <p>
          我们梦想，能有更多人的享受运动，享受运动带来的快乐和健康。<br />
          我们梦想，能有更多人在运动中结交朋友，定制兄弟们的球衣，写下自己的传奇。<br />
          我们梦想，能将热爱运动的人们，聚合到这个平台上，让大家尽情运动。<br />
          我们的合伙人有职业运动员.有国外大学打球经历的海龟，还有热爱体育的模特和服装设计师。我们都是热爱体育的好朋友。
        </p>
      </div>
    </li>
  </ul>
</div>
<!-- about us over -->