<!-- Breadcrumb Start-->
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">请登录或注册后再登录</li>
  </ol>
</div>
<!-- Breadcrumb End-->
<!-- Content start-->
<div class="container content">
  <div class="alert alert-warning">
    <h4>我们还不知道您是谁哟</h4>
    <p>这样我们无法为您提供服务，请登录或注册并登录后再来吧！</p>
  </div>
  <div class="row">
    <form action="/wp-login.php" method="post" class="form-horizontal col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" role="form">​
      <input type="hidden" name="redirect_to" value="/my">
      <input type="hidden" name="testcookie" value="1">
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">用户名</label>
        <div class="col-sm-9">
          <input id="username" type="text" name="log" class="form-control" placeholder="您的邮箱，如you@xline.com.cn" tabindex="1">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">密码</label>
        <div class="col-sm-9">
          <input id="password" type="password" name="pwd" class="form-control" tabindex="2">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <label for="remember-me"><input name="rememberme" type="checkbox" id="remember-me" value="forever" tabindex="3"> 记住我的登录信息</label>
        </div>
      </div>
      <div class="form-actions">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-primary"><i class="fa fa-sign-in"></i> 登录</button>
          <a href="/wp-login.php?action=lostpassword">忘记密码</a>
          <a href="/wp-login.php?action=register">注册新用户</a>
        </div>

      </div>
    </form>
  </div>
</div>
<!-- Content End -->