<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>生产单输出</title>
  <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../pure-html/css/output.css">
</head>
<body>
<header class="container">
  <h1>XLINE.COM生产工单</h1>
  <a class="btn btn-primary print-button hidden-print" href="javascript:print();"><i class="fa fa-print"></i> 打印</a>
</header>
<hr>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3>用户信息</h3></div>
    <table class="table table-bordered">
      <thead>
      <tr>

      </tr>
      </thead>
      <tbody>
      <tr>
        <th>用户</th><td>{{nickname}}</td>
      </tr>
      {{#ship}}
      <tr>
        <th>收件人姓名</th>
        <td>{{_shipping_last_name}}{{_shipping_first_name}}</td>
      </tr>
      <tr>
        <th>发货地址</th>
        <td>{{_shipping_city}} {{_shipping_address_2}} {{_shipping_address_1}}</td>
      </tr>
      <tr>
        <th>邮编</th>
        <td>{{_shipping_postcode}}</td>
      </tr>
      <tr>
        <th>联系电话</th>
        <td>{{_billing_phone}}</td>
      </tr>
      <tr>
        <th>邮件地址</th>
        <td>{{_billing_email}}</td>
      </tr>
      {{/ship}}
      </tbody>
    </table>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h2>设计内容</h2></div>
    {{#designs}}
    <div class="panel-body">
      <div class="flash-placeholder" data-id="{{id}}" id="flash-{{id}}">
        <h1>DIY展示</h1>
        <p><a href="http://www.adobe.com/go/getflashplayer">您需要下载最新的Flash播放器才能使用定制服务。</a></p>
      </div>
      <p class="alert alert-info" id="placeholder-{{id}}">
        <i class="fa fa-spin fa-spinner"></i> 加载设计图中，请稍后
      </p>
    </div>
    <table class="table table-bordered">
      {{#parts}}
      <tbody class="template">
      <tr>
        <td colspan="3"><h3>{{product_name}} &times; <strong class="text-danger">{{quantity}}</strong></h3></td>
      </tr>
      </tbody>
      <tbody>
      {{#steps}}
      <tr>
        <td>{{title}}</td>
        <td>{{type}}</td>
        <td>{{{content}}}</td>
      </tr>
      {{/steps}}
      </tbody>
      {{/parts}}
      <tbody>
      <tr><td colspan="3"><h3>队伍信息</h3></td></tr>
      <tr>
        <th>号码</th>
        <th>姓名</th>
        <th>尺码</th>
      </tr>
      {{#members}}
      <tr>
        <td>{{number}}</td>
        <td>{{playername}}</td>
        <td>{{size}}</td>
      </tr>
      {{/members}}
      </tbody>
    </table>
    {{/designs}}
  </div>
</div>


<script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/swfobject/2.2/swfobject.js"></script>
<script src="//cdn.staticfile.org/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  $(function () {
    $('.flash-placeholder').each(function (i) {
      var id = $(this).data('id')
        , url = '/wp-content/themes/xline/api/?id=' + id
        , flashvars = {
          id: id,
          cloth: [url, url].join(',')
        }
        , params = {
          menu: "false",
          scale: "noScale",
          bgcolor: "FFFFFF",
          wmode: "direct" // can cause issues with FP settings & webcam
        }
        , attributes = {
          id: "diy-" + id
        };
      swfobject.embedSWF(
        "/wp-content/themes/xline/swf/viewer.swf",
        'flash-' + id, "100%", "10", "14.0.0",
        "../swf/expressInstall.swf",
        flashvars, params, attributes);
    });
  });
  function createPic(id, base64) {
    console.log('create pic');
    var img = document.createElement('img');
    img.className = 'img-thumbnail';
    img.src = 'data:image/jpeg;base64,' + base64;
    $('#diy-' + id).remove();
    $('#placeholder-' + id).replaceWith(img);
  }
</script>
</body>
</html>