<!-- Breadcrumb Start -->
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">XLINE球队</li>
  </ol>
</div>
<!-- Breadcrumb End -->
<!-- options -->
<div class="container options">
  <a href="/teams" class="btn btn-default {{#is_all}}btn-primary{{/is_all}}">全部</a>
  <a href="/teams/basketball" class="btn btn-default {{#is_basketball}}btn-primary{{/is_basketball}}">篮球</a>
  <a href="/teams/football" class="btn btn-default {{#is_football}}btn-primary{{/is_football}}">足球</a>
  <a href="/teams/golf" class="btn btn-default {{#is_golf}}btn-primary{{/is_golf}}">高尔夫</a>
</div>
<!-- options end -->
<!-- Content start-->
<div class="container content" id="teams">
  <ul class="row list">
    {{#list}}
    <li class="col-md-3 col-sm-6 col-xs-12">
      <a href="/design/{{id}}"><img src="{{thumbnail}}" class="img-thumbnail"></a>
      <h3 class="thumbnail"><a href="/design/{{id}}">{{name}}</a></h3>
    </li>
    {{/list}}
  </ul>
  <ul class="pagination pagination-lg pull-right">
    <li class="{{no-prev}}"><a href="{{base}}/{{prev}}">&laquo;</a></li>
    {{#pages}}
    <li class="{{active}}"><a href="{{base}}/{{to}}">{{page}}</a></li>
    {{/pages}}
    <li class="{{no-next}}"><a href="{{base}}/{{next}}">&raquo;</a></li>
  </ul>
</div>
<!-- Content End -->