<div class="form-group">
  <label for="edit-modal-input">{{title}}</label>
  <input type="{{type}}" name="prop" value="{{value}}" class="form-control" autofocus id="edit-modal-input" placeholder="{{title}}">
</div>
